html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************/
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.center-new {
  max-width: 901px;
  width: 100%;
  margin: 0 auto;
}

.center-new-two {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Poppins';
}

/* **** */
/* header */
.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
}

@media only screen and (max-width: 1300px) {
  .cont {
    width: 95%;
  }
}

.cont .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1100px) {
  .cont .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    min-width: 270px;
    padding-top: 130px;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 10;
  }
}

.cont .navigation ul {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 111px;
}

@media only screen and (max-width: 1200px) {
  .cont .navigation ul {
    margin-right: 70px;
  }
}

@media only screen and (max-width: 1100px) {
  .cont .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cont .navigation ul li {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #888888;
}

@media only screen and (max-width: 1100px) {
  .cont .navigation ul li {
    margin-bottom: 30px;
  }
}

.cont .navigation ul li a {
  text-decoration: none;
  color: #888888;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .cont .navigation ul li a {
    color: #FFFFFF;
  }
}

.cont .navigation ul li a:hover {
  color: #3772FF;
}

.cont .navigation form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1100px) {
  .cont .navigation form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cont .navigation form .input-search {
  background: #ffffff;
  width: 270px;
  background-image: url(..//images/search.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  border: 1px solid #888888;
  border-radius: 9px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #888888;
}

.cont .navigation form input[type="search"]::-webkit-search-decoration,
.cont .navigation form input[type="search"]::-webkit-search-cancel-button,
.cont .navigation form input[type="search"]::-webkit-search-results-button,
.cont .navigation form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.cont .navigation form button {
  background: #3772FF;
  border-radius: 7px;
  width: 110px;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
  margin-left: 20px;
}

@media only screen and (max-width: 1100px) {
  .cont .navigation form button {
    margin-left: 0;
    margin-top: 30px;
    width: 270px;
  }
}

.cont .navigation form button img {
  padding-right: 14px;
}

.cont .navigation form button:hover {
  background: #000000;
}

.cont .images {
  margin-top: 19px;
  margin-bottom: 26px;
}

.cont .images-two {
  width: 50px;
  display: none;
}

@media only screen and (max-width: 1100px) {
  .cont .images-two {
    display: block;
    width: 23px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 1100px) {
  header .navigation.show {
    left: 0;
  }
}

/* footer */
.footer {
  font-family: 'DM Sans';
}

@media only screen and (max-width: 1300px) {
  .footer {
    width: 95%;
  }
}

.footer .all-bloks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .footer .all-bloks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .all-bloks .first-block {
  margin-top: 89px;
}

@media only screen and (max-width: 1024px) {
  .footer .all-bloks .first-block {
    margin-top: 50px;
  }
}

.footer .all-bloks .first-block .logo {
  margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
  .footer .all-bloks .first-block .logo {
    margin-bottom: 20px;
  }
}

.footer .all-bloks .first-block .txt-one {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
  width: 270px;
  margin-bottom: 29px;
}

.footer .all-bloks .second-block {
  margin-top: 109px;
}

@media only screen and (max-width: 1024px) {
  .footer .all-bloks .second-block {
    margin-top: 20px;
  }
}

.footer .all-bloks .second-block ul li {
  font-weight: 500;
  font-size: 14px;
  line-height: 176%;
  color: #888888;
}

.footer .all-bloks .second-block ul li a {
  text-decoration: none;
  color: #888888;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

.footer .all-bloks .second-block ul li a:hover {
  color: #000000;
}

.footer .all-bloks .second-block ul .word {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 42px;
}

@media only screen and (max-width: 1024px) {
  .footer .all-bloks .second-block ul .word {
    margin-bottom: 20px;
  }
}

.footer .all-bloks .second-block ul .word a {
  color: #000000;
}

.footer .all-bloks .third-block {
  margin-top: 109px;
}

@media only screen and (max-width: 1024px) {
  .footer .all-bloks .third-block {
    margin-top: 20px;
  }
}

.footer .all-bloks .third-block h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 44px;
}

@media only screen and (max-width: 1024px) {
  .footer .all-bloks .third-block h3 {
    margin-bottom: 20px;
  }
}

.footer .all-bloks .third-block .txt-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
  width: 270px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1024px) {
  .footer .all-bloks .third-block form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer .all-bloks .third-block form .first-inpt {
  width: 270px;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (max-width: 1024px) {
  .footer .all-bloks .third-block form .first-inpt {
    width: 100%;
  }
}

.footer .all-bloks .third-block form .second-inpt {
  background-image: url(..//images/arrrr.svg);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #3772FF;
  color: #3772FF;
  border-radius: 50%;
  padding-left: 27px;
  background-position: center;
  position: relative;
  left: -47px;
}

@media only screen and (max-width: 1024px) {
  .footer .all-bloks .third-block form .second-inpt {
    top: 8px;
  }
}

.footer .copy {
  margin-top: 87px;
  text-align: center;
  margin-bottom: 29px;
}

@media only screen and (max-width: 1024px) {
  .footer .copy {
    margin-top: 50px;
  }
}

.footer .copy .txt-three {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #AAAAAA;
}

/********/
.container-one {
  margin-top: 100px;
  font-family: 'DM Sans';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
  .container-one {
    width: 95%;
  }
}

@media only screen and (max-width: 1140px) {
  .container-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

.container-one .left-side {
  width: 600px;
  height: 770px;
}

@media only screen and (max-width: 1140px) {
  .container-one .left-side {
    width: 100%;
    height: 600px;
  }
}

.container-one .left-side img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

@media only screen and (max-width: 1140px) {
  .container-one .right-side {
    margin-top: 30px;
  }
}

.container-one .right-side h3 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}

.container-one .right-side .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-one .right-side .txt .descr-one {
  width: 60px;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  color: #45B26B;
  border: 1px solid #45B26B;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 10px;
}

.container-one .right-side .txt .descr-two {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #666666;
  padding-left: 10px;
}

.container-one .right-side .descr-three {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-top: 16px;
}

.container-one .right-side .descr-four {
  width: 470px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
  margin-top: 21px;
}

@media only screen and (max-width: 1140px) {
  .container-one .right-side .descr-four {
    width: 100%;
  }
}

.container-one .right-side .txt-two {
  margin-top: 25px;
}

.container-one .right-side .txt-two .descr-five {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 13px;
}

.container-one .right-side .txt-two .txt-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-one .right-side .txt-two .txt-person .descr-six {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-left: 15px;
}

.container-one .right-side .txt-three {
  width: 470px;
  border: 1px solid #888888;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 20px;
}

@media only screen and (max-width: 1140px) {
  .container-one .right-side .txt-three {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container-one .right-side .txt-three .descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #888888;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

.container-one .right-side .txt-three .descr:hover {
  width: 61px;
  background: #3772FF;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
}

.container-one .right-side .txt-three .one {
  margin-left: 10px;
}

@media only screen and (max-width: 1140px) {
  .container-one .right-side .txt-three .one {
    margin-left: 0;
  }
}

.container-one .right-side .txt-three .two {
  margin-left: 24px;
}

@media only screen and (max-width: 1140px) {
  .container-one .right-side .txt-three .two {
    margin-left: 20px;
  }
}

.container-one .right-side .txt-three .three {
  margin-left: 37px;
}

@media only screen and (max-width: 1140px) {
  .container-one .right-side .txt-three .three {
    margin-left: 20px;
  }
}

.container-one .right-side .person {
  margin-top: 30px;
}

.container-one .right-side .person .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.container-one .right-side .person .first .info {
  width: 238px;
  margin-left: 14px;
}

@media only screen and (max-width: 768px) {
  .container-one .right-side .person .first .info {
    width: 100%;
  }
}

.container-one .right-side .person .first .info .info-1 {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #666666;
}

.container-one .right-side .person .first .info .info-1 span {
  font-weight: bold;
  color: #000000;
}

.container-one .right-side .button-info {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

@media only screen and (max-width: 1140px) {
  .container-one .right-side .button-info {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .container-one .right-side .button-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-one .right-side .button-info .second-form button {
  width: 200px;
  background: #3772FF;
  border-radius: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
  border: none;
}

@media only screen and (max-width: 600px) {
  .container-one .right-side .button-info .second-form button {
    margin-bottom: 20px;
    width: 100%;
  }
}

.container-one .right-side .button-info .second-form button:hover {
  background: #000000;
}

.container-one .right-side .button-info .first-form button {
  width: 200px;
  background: #000000;
  border-radius: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
  border: none;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .container-one .right-side .button-info .first-form button {
    width: 100%;
  }
}

.container-one .right-side .button-info .first-form button:hover {
  background: #3772FF;
}
/*# sourceMappingURL=main.css.map */